@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    sans-serif;
}

/* Custom Scrollbar Styles */
* {
  scrollbar-color: #78716c #262626;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: #262626;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #78716c;
  border-radius: 10px;
  border: 2px solid #262626;
}

*::-webkit-scrollbar-thumb:hover {
  background: #a8a29e;
}
